apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: derent
spec:
  type: NodePort
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30000 # Fixed NodePort for easier access
  selector:
    app: frontend
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: derent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: medgm/real-estate-frontend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: NEXT_PUBLIC_API_BASE_URL
              value: "http://192.168.49.2:30090"
            - name: NEXT_PUBLIC_GATEWAY_URL
              value: "http://192.168.49.2:30090"
            - name: NEXT_PUBLIC_USE_GATEWAY
              value: "true"
            - name: AI_API_URL
              value: "http://pricing-api:8000"
